body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(241, 241, 241);
}

.container {
  position: relative;
  height: auto;
  padding: 20px;
  display: grid;
  grid-template-areas: 
    "main side"
    "main side"
    "footer img";
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.main {
  font-size: 19px;
  grid-area: main;
}

.main-content {
  gap: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.image {
  margin-left: auto;
  margin-right: auto;
  border: 20px solid rgb(182, 219, 216);
  border-left-width: 50px;
  border-right-width: 0;
  height: auto;
  border-radius: 20px;
}

.images {
  font-size: 40px;
  margin-top: 5px;
  gap: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.images img {
  display: block;
  margin: 0;
  max-width: 80px;
}

.images p {
  margin-top: 5px;
  text-align: center;
  width: 100%;
  font-size: 14px;
}

.main p {
  margin-bottom: 10px;
  line-height: 1.4;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: -70px;
  z-index: 1;
  grid-area: side;
  background-color: rgb(168, 230, 216);
  border-radius: 20px;
  border: 1px solid rgb(104, 201, 193);
  position: relative;
  padding: 20px; 
}

.image2 {
  margin-left: auto;
  margin-right: auto;
  border: 20px solid white;
  border-left-width: 20px;
  border-right-width: 0;
  border-top-width: 30px;
  border-bottom-width: 30px;
  height: auto;
  border-radius: 20px;
}

.footer {
  width: 100%;
  height: 100%;
  border-top: 1px dashed black;
  grid-area: footer;
  display: flex;
  flex-direction: column;
}

.tips {
  margin-top: 20px;
  border: 0.5px solid black;
  border-color: rgb(182, 219, 216);
  background-color: white;
  border-radius: 6px;
}

.img {
  width: auto;
  height: auto;
  margin-left: -15px;
  padding: 0;
  margin-right: -50px;
  border-top: 1px dashed black;
  grid-area: img;
  display: flex;
  justify-content: center;
}

.img img {
  transform: rotate(-15deg);
  width: 400px;
  height: auto;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas: 
      "header"
      "main"
      "side"
      "footer"
      "img";
    grid-template-columns: 1fr;
  }

  .img img {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .img img {
    width: 200px;
  }
}

.header {
  margin-bottom: 30px;
  padding-top: 50px;
  background-color: rgb(11, 65, 75);
  background-image: url("/img/Grid%20layers%20-%20v2.svg");
  grid-area: header;
  color: white;
  display: flex; 
  align-items: center; 
  justify-content: flex-start;
  padding-left: 20px; 
}